.ck-source-editing-area,
.ck-editor__editable {
  min-height: 400px;
}

.ck-editor__main {
  height: 400px;
  min-height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  border: 0.5px solid #bbbbbb;
}

/* .slug-input {
  width: 80% !important;
  border: 1px solid red !important;
} */
